body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 30px;
}

#color {
    color: orange;
}

.banner {
    display: flex;
    background-image: url(top.png);
    background-repeat: no-repeat;
}

.edit {
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

.design {
    width: 40%;
    padding-left: 2%;
    top: 3%;

}

h3 {
    color: darkred;
}

#button {
    background-color: orange;
    padding: 1%;
    text-decoration: none;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font: 700;
}


#second {
    display: flex;

}

#two {
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

#one {
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
}

h1 {
    font-size: 50px;
}

#three {
    color: black;

}

    {
    color:
}

#fore {
    color: tomato;
}

#five {
    color: orange;
    ;
}

#six {
    background-color: orange;
    padding: 1%;
    text-decoration: none;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
    color: wheat;
    font: 700;
}

p {
    color: blue;
}

#ticket {
    display: flex;
    background-image:url(test/dream-bg.png);
    background-repeat: no-repeat;
    
}

#online {
    width: 1300px%;
    padding: 2%;
    box-shadow: 10px 10px 40px green;
    width: 600px;
    margin-left:5%;
    margin-right:5%;
    
    padding: 20px;
    border-radius:10px;
    
}
.web{
    border-left:7px solid blue;
}
.developer{
    border-left:7px solid tomato;
}
footer p{
    text-align: center;
}

.new {
    color: orangered;
}

.pen {
    color: blueviolet;
    font-size: 40px;
}

#off {
    color: orangered;
    font-size: 40px;
}

#on {
    color: crimson;
}

.tonmoy {
    color: blue;
}
#mithu{
    margin-right: 5px;
}